*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container {

  width: 100vw;
  min-height: 100vh;
  background: rgb(191, 202, 202);
  /* #ADB9E3 */

}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-self: flex-start;
}

.module_pad {
  padding: 100px;
}


