.input_wrapper {
    display: flex;
    align-items: center;
    background-color: rgb(214, 203, 203);
    border-radius: 10px;
    width: 15.5rem;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px grey;
    margin: auto auto -50px auto;
    margin-top: 100px;
    align-items: center;

}


.input{

    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

.search_icon{

    color: royalblue;
}

